#cats{
	width: 100%;
	height: 700px;
	transform: rotate(180deg);
	position: center;
}

/* FOOTER STYLING*/
#footer{
	color: white;
	background-color: #5B30AE;
	padding-left: 10%;
	padding-bottom: 3%;
}

#petfinderFooterLogo{
	padding-left: 10%;
	padding-top: 3%;
	height: 85px;
	width: 100px;
}

.bold{
	font-weight: bold;
}

.thinText{
	font-weight: lighter;
}
#footerSiteWords h5{
	padding-bottom: 20px;
}

#footerSignUpButton{
	padding: 10px 30px;
  	border: 2px solid;
  	color: white;
  	background-color: #5B30AE;
  	border-color: white;
  	border-radius: 100px 100px 100px 100px;
  	width:200px;
}

p i{
	padding: 20px;
}

/*Katie's Additions to the CSS*/
#DogAdoptArticles, #CatAdoptArticles{
	text-align:center;
}

#DogAdoptArticles>div, #CatAdoptArticles>div {
	display:inline-block;
	*display:inline;
	float:none;
}

#DogAdoptArticles>div>img, #CatAdoptArticles>div>img {
	width:100%;
	height:auto;
}

#ArticlesRow{
	margin: 10px;
}

/*End Katie's Additions*/